/* Style Section */
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
    font-size: 24px;
}

.header-picture {
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
    border: solid goldenrod 5px;
}

.welcome-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 10px goldenrod solid;
    margin: 1rem;
}


.list-item {
    padding-left: 15px;
}

h1.welcome-header {
    line-height: 0px;
}

.pictures {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border: solid gold 8px;
    margin: -8px;
}

h3 {
    margin-bottom: 0;
    padding: 0;
}

.skills {
    background-image: url(images/pexels.jpg);
    background-size: cover;
}

.projects {
    background-image: url(images/pexels1.jpg);
    background-size: cover;
}

.quote {
    background-image: url(images/pexels2.jpg);
    background-size: cover;
}

.contact {
    background-image: url(images/pexels3.jpg);
    background-size: cover;
}

footer p {
    margin: 0;
    font-size: 20px;
}

.contact,
.quote,
.projects,
.skills,
.welcome,
.navbar {
    border-bottom: 3px solid black;
}

.welcome-header,
.knowledge-heading,
.projects-heading {
    font-family: "Titan One";
    color: whitesmoke;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.cards:hover {
    background-color: aquamarine;
    transform: scale(1.05);
    box-shadow: 0 0 25px black;
}

.navbar-list .list-item:hover {
    transform: scale(1.15);
}


.header-picture,
.welcome-picture {
    transition: transform .7s ease-in;
}

.welcome-picture:hover {
    transform: scale(1.50) rotate(360deg);
}

.header-picture:hover {
    transform: scale(1.15) rotate(360deg);
}



footer,
.navbar,
.welcome-container {
    background: linear-gradient(to right, #00c9ff, #92fe9d);
}

/* Flex Controls */


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-list {
    display: flex;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/paints.jpg);
    background-size: contain;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(21, 145, 187) solid 5px;
    max-width: 60%;
    border-radius: 200px;
    margin: 128px 78px;
    min-width: min-content;
    padding: 40px;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    box-shadow: 0px 0px 30px black;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.welcome-button {
    align-self: center;
}

.skills,
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.skills-container,
.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.skills-cards,
.projects-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: min-content;
    height: min-content;
    margin: 20px;
    border-radius: 15%;
    border: solid gold 8px;
    background-color: azure;
}

.skills-text,
.projects-text {
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    margin-inline: 5px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.quote-text {
    font-size: 40px;
    margin: 0;
}

.name {
    align-self: flex-end;
    font-size: 50px;
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact li {
    display: flex;
    align-items: center;
}

.logos {
    margin-right: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}