/* Style Section */
ul {
    list-style-type: none;
    padding: 0px;
    font-size: 24px;
}

.header-picture {
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
    border: solid goldenrod 5px;
}

.welcome-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 10px goldenrod solid;
    margin: 1rem;
}


.list-item {
    padding-left: 15px;
}

h1.welcome-header {
    line-height: 0px;
}

.skills-picture {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    border: solid gold 8px;
}

h3 {
    margin-bottom: 0;
    padding: 0;
}

/* Flex Controls */

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(230, 250, 250);
    padding-inline-start: 20px;
    min-width: min-content;
}

.navbar-list {
    display: flex;
    margin-right: 15px;
    margin-left: auto;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/paints.jpg);
    border-bottom: 3px solid black;
    background-size: contain;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(21, 145, 187) solid 5px;
    max-width: 60%;
    border-radius: 200px;
    margin: 128px 78px;
    min-width: min-content;
    padding: 40px;
    background-color: aqua;
    box-shadow: 0px 0px 30px black;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.welcome-button {
    align-self: center;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/bricks.jpeg);
    padding: 20px;
    background-size: contain;
    border-bottom: 3px solid black;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.skills-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 250px;
    height: fit-content;
    margin: 20px;
}

.skills-text {
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
}